.CreateProduct {
  background-color: #fff;
  margin: 30px auto;
  padding: 30px 10px;
}
.CreateProduct .product-wrapper {
  display: grid;
  grid-template-columns: auto 500px auto;
  grid-template-rows: auto 20px auto 20px auto 20px auto 20px auto 20px auto 20px auto 20px auto 20px auto 20px auto 20px auto;
}
.CreateProduct .categories {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.CreateProduct .subcategories {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}
.CreateProduct .thumbnail {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  width: calc(100% - 20px);
  margin-bottom: -20px;
}
.CreateProduct .name {
  grid-column: 2 / span 1;
  grid-row: 9 / span 1;
  width: calc(100% - 20px);
}
.CreateProduct .attributes {
  grid-column: 2 / span 1;
  grid-row: 15 / span 1;
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  grid-template-rows: auto 5px auto;
}
.CreateProduct .brand {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.CreateProduct .color {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.CreateProduct .weight {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
.CreateProduct .size {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}

.CreateProduct .price {
  grid-column: 2 / span 1;
  grid-row: 11 / span 1;
  width: calc(100% - 20px);
}
.CreateProduct .quantity {
  grid-column: 2 / span 1;
  grid-row: 13 / span 1;
  width: calc(100% - 20px);
}
.CreateProduct .description {
  grid-column: 2 / span 1;
  grid-row: 17 / span 1;
}
.CreateProduct .images {
  grid-column: 2 / span 1;
  grid-row: 19 / span 1;
}
.CreateProduct .image-list {
  grid-column: 2 / span 1;
  grid-row: 21 / span 1;
  padding-left: 0;
}
.CreateProduct .buttons {
  grid-column: 2 / span 1;
  grid-row: 23 / span 1;
  display: grid;
  grid-template-columns: 1fr 5px 1fr 5px 1fr;
}
.CreateProduct .submit {
  grid-column: 1 / span 1;
  background-color: #f6a61f;
  border: 1px solid #f6a61f;
  color: #fff;
}
.CreateProduct .cancel {
  grid-column: 5 / span 1;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  color: #b8b8b8;
}
.CreateProduct .reset {
  grid-column: 3 / span 1;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  color: #b8b8b8;
}
.CreateProduct .submit:hover {
  background-color: #fff;
  border: 1px solid #f6a61f;
  color: #f6a61f;
}
.CreateProduct .reset:hover,
.CreateProduct .cancel:hover {
  background-color: #b8b8b8;
  border: 1px solid #b8b8b8;
  color: #fff;
}
.CreateProduct .submit:hover,
.CreateProduct .reset:hover,
.CreateProduct .cancel:hover {
  transition: 0.2s ease-out;
  cursor: pointer;
}
.CreateProduct button {
  font-weight: 600;
  padding: 7px;
  border-radius: 5px;
}
.CreateProduct input {
  border: none;
  border-bottom: 1px solid #b8b8b8;
  padding: 8px 10px;
  width: 100%;
}
.CreateProduct input:focus,
.CreateProduct textarea:focus,
.CreateProduct button:focus {
  outline: none;
}
.CreateProduct button:focus {
  border: 1px solid #1b1d1f;
}
.CreateProduct select:focus,
.CreateProduct textarea:focus {
  border: 1px solid #f6a61f;
  outline: none;
}
.CreateProduct input:focus {
  border-bottom: 1px solid #f6a61f;
  outline: none;
}
.CreateProduct select {
  padding: 5px;
  margin-top: 5px;
  width: 100%;
}
.CreateProduct textarea {
  font: inherit;
  font-size: 0.9em;
  width: 100%;
  resize: vertical;
  min-height: 150px;
}
.CreateProduct .label {
  color: #b8b8b8;
  margin: 0;
  font-size: 0.8em;
  font-weight: 600;
}
.CreateProduct .image-wrapper {
  display: flex;
}
.CreateProduct .fa-plus {
  padding: 7px;
  margin-left: 10px;
  background-color: #f6a61f;
  border: 1px solid #f6a61f;
  color: #fff;
}
.CreateProduct .fa-plus:hover {
  cursor: pointer;
  border: 1px solid #f6a61f;
  color: #f6a61f;
  background: none;
  transition: 0.2s ease-out;
}
.CreateProduct .image-url {
  display: grid;
  grid-template-columns: 50px auto 46px;
  column-gap: 10px;
  font-size: 0.9em;
  padding: 5px 10px;
  border: 1px solid #b8b8b8;
  overflow: hidden;
}
.CreateProduct .image-url:not(:first-child) {
  border-top: none;
}
.CreateProduct .image-url {
  position: relative;
}
.CreateProduct .image-url .image {
  grid-column: 1 / span 1;
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
}
.CreateProduct .image-url .image img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.CreateProduct .fa-times {
  position: absolute;
  right: 0;
  font-size: 15px;
  top: calc(50% - 23px);
  padding: 15px;
  background-color: #fff;
}
.CreateProduct .fa-times:hover {
  color: #b8b8b8;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.CreateProduct .error {
  margin: 0;
  font-size: 0.8em;
  color: rgb(247, 36, 36);
}
.CreateProduct .image {
  grid-column: 2 / span 1;
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  position: relative;
}
.CreateProduct .image-thumbnail {
  top: 20px;
  grid-column: 2 / span 1;
  grid-row: 7 / span 1;
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  position: relative;
}
.CreateProduct .image img,
.CreateProduct .image-thumbnail img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .CreateProduct {
    max-width: 380px;
  }
  .CreateProduct .product-wrapper {
    grid-template-columns: auto 300px auto;
  }
}
@media only screen and (min-width: 600px) {
  .CreateProduct {
    max-width: 700px;
  }
}
@media only screen and (min-width: 1000px) {
  .CreateProduct {
    max-width: 1100px;
  }
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
