.Login {
  position: absolute;
  top: 180px;
  left: 10px;
  right: 10px;
  margin: auto;
  max-width: 400px;
  background-color: #fff;
  z-index: 5;
}
.Login h1 {
  text-align: center;
  background-color: #f6a61f;
  padding: 15px 0;
  margin: 0;
  color: #fff;
}
.Login input,
.Login button {
  border: none;
}
.Login input:focus,
.Login button:focus {
  outline: none;
}
.Login input {
  border-bottom: 1px solid #b8b8b8;
  padding: 8px 10px;
}
.Login .wrapper-login-fields {
  display: grid;
  grid-template-columns: auto 80% auto;
  grid-template-rows: 50px auto 20px auto 30px auto 20px auto 20px auto 30px;
}
.Login .username {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.Login .password {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}
.Login .warning {
  color: rgb(247, 36, 36);
  margin: 0;
  min-height: 3em;
  font-size: 0.8em;
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
}
.Login button {
  grid-column: 2 / span 1;
  grid-row: 8 / span 1;
  padding: 10px 5px;
  font-weight: 600;
  background-color: #f6a61f;
  border: 1px solid #f6a61f;
  color: #fff;
  transition: 0.2s ease-in-out;
}
.Login button:hover {
  background-color: #fff;
  color: #f6a61f;
  transition: 0.2s ease-in-out;
}
.Login .register {
  grid-column: 2 / span 1;
  grid-row: 10 / span 1;
  text-align: center;
}
.Login span {
  color: #f6a61f;
  font-weight: 600;
}
.Login span:hover {
  text-decoration: underline;
  cursor: pointer;
}
