.ProductsHome {
  background-color: #fff;
  max-width: 1000px;
  margin: 120px auto 80px auto;
  display: grid;
  grid-column-gap: 0;
  padding: 10px;
}
.ProductsHome img {
  width: calc(100% - 80px);
  position: relative;
  top: -40px;
  left: 40px;
}
.ProductsHome .info-product-home {
  max-width: 250px;
  margin: auto;
  align-self: center;
  padding-right: 40px;
}
.ProductsHome .info-product-home h2 {
  font-size: 1.2em;
}
.ProductsHome .info-product-home p {
  color: #b8b8b8;
  border-left: 2px solid #f6a61f;
  padding-left: 20px;
}
@media only screen and (max-width: 600px) {
  .ProductsHome {
    grid-column-gap: 15px;
    margin: 30px 0;
  }
  .ProductsHome img {
    width: 100%;
    position: initial;
    align-self: center;
    align-self: center;
  }
}
