.Footer {
  padding: 20px 0;
  background-color: #fff;
}
.Footer a {
  cursor: not-allowed;
}
.Footer .footer-wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}
.Footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto 100px auto;
  padding-top: 20px;
}
.Footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.Footer ul li:first-child a {
  font-weight: 600;
  color: #111;
}
.Footer a {
  text-decoration: none;
  color: #b8b8b8;
  font-size: 0.8em;
}
.Footer a:hover {
  text-decoration: underline;
  transition: 0.2s ease;
}
.Footer li {
  margin: 8px 0;
}
.Footer .footer-bottom {
  padding: 20px 0;
  border-top: 1px solid #b8b8b8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.Footer .footer-bottom li {
  padding: 0 8px;
  font-size: 0.8em;
  color: #b8b8b8;
  font-weight: 600;
}
.Footer .logo-amazon {
  width: 90px;
}
@media only screen and (max-width: 600px) {
  .Footer .footer-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-gap: 20px;
  }
  .Footer .footer-grid ul:not(.footer-bottom) {
    width: 200px;
    justify-self: center;
  }
  .Footer .footer-bottom {
    grid-row: 6 / span 1;
  }
}
@media only screen and (min-width: 600px) {
  .Footer .footer-grid {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
  }
  .Footer .footer-bottom {
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
  }
}
@media only screen and (min-width: 1000px) {
  .Footer .footer-grid {
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto 100px auto;
  }
  .Footer .footer-bottom {
    grid-row: 3 / span 1;
    grid-column: 1 / span 5;
  }
}
