.Categorization-Height {
  min-height: calc(100vh - 163px);
}
.Categorization {
  background-color: #fff;
  margin: 30px auto;
}
.Categorization table {
  border-collapse: collapse;
  width: 100%;
}
.Categorization td {
  padding: 10px;
  text-align: center;
  color: #b8b8b8;
  font-weight: 600;
}
.Categorization .dropdown-btn-wrapper {
  width: 40px;
}
.Categorization tr:hover .dropdown-btn {
  transition: all 0.2s ease-in-out;
  color: #111;
}
.Categorization .hover-row:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.08);
}
.Categorization .more-info {
  position: relative;
  top: -10px;
  padding-bottom: 20px;
  max-width: 300px;
  margin: auto;
  text-align: left;
}
.Categorization .input {
  border: none;
  border-bottom: 1px solid #b8b8b8;
  padding: 8px 10px;
  width: 100%;
  width: calc(100% - 20px);
  outline: none;
}
.Categorization .input-info {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 0.8em;
  color: #b8b8b8;
  font-weight: normal;
}
.Categorization select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}
.Categorization .buttons {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
}
.Categorization .submit,
.Categorization .reset {
  margin-top: 10px;
  border-radius: 5px;
  padding: 3px 5px;
  cursor: pointer;
  transition: 0.2s ease-out;
}
.Categorization .submit:hover {
  background-color: #fff;
  color: #f6a61f;
}
.Categorization .reset:hover {
  background-color: #b8b8b8;
  color: #fff;
}
.Categorization .submit {
  grid-column: 1 / span 1;
  background-color: #f6a61f;
  border: 1px solid #f6a61f;
  color: #fff;
}
.Categorization .reset {
  grid-column: 3 / span 1;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  color: #b8b8b8;
}
.Categorization .input:focus {
  border-bottom: 1px solid #f6a61f;
  outline: none;
}
@media only screen and (max-width: 600px) {
  .Categorization {
    max-width: 380px;
  }
}
@media only screen and (min-width: 600px) {
  .Categorization {
    max-width: 700px;
  }
}
@media only screen and (min-width: 1000px) {
  .Categorization {
    max-width: 1100px;
  }
}

.Categorization .list-li {
  font-size: 0.9em;
  padding: 5px 10px;
  border: 1px solid #b8b8b8;
  overflow: hidden;
  color: #111;
}
.Categorization .list-li:not(:first-child) {
  border-top: none;
}
.Categorization .list-li {
  position: relative;
}
.Categorization .list-ul {
  padding-left: 0;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.Categorization .btn-icon {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
}
.input-edit {
  border: none;
  width: 100%;
}
.input-edit:focus {
  outline: none;
  color: #b8b8b8;
}
.camera,
.close {
  padding: 7px;
}
.camera:hover,
.close:hover {
  color: #b8b8b8;
  transition: 0.2s ease-out;
  cursor: pointer;
}
