.Entry {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
.entry-message-open .Login,
.entry-message-open .Register {
  animation: openEntry 0.4s ease-out forwards;
}
.entry-message-enter .Login,
.entry-message-enter .Register {
  top: 180px;
}

.entry-message-closed .Login,
.entry-message-closed .Register {
  animation: closeEntry 0.4s ease-out forwards;
}
@keyframes openEntry {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes closeEntry {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20%);
  }
}
.entry-message-open .Backdrop {
  animation: openEntryBackdrop 0.4s ease-out forwards;
}
.entry-message-closed .Backdrop {
  animation: closeEntryBackdrop 0.4s ease-out forwards;
}
@keyframes openEntryBackdrop {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes closeEntryBackdrop {
  0% {
    opacity: 0.8;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
