.Items {
  align-self: center;
  justify-self: end;
  display: flex;
}
.Items .small-img {
  width: 27px;
  border-radius: 50%;
}
.Items .small-img:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s ease-out;
}
.Items .bag-wrapper {
  position: relative;
}
.Items .quantity-number {
  pointer-events:none;
  position: absolute;
  left: calc(50% + 3px);
  top: 0;
  background-color: #f6a61f;
  color: #fff;
  border-radius: 5px;
  padding: 1px 2px;
  font-size: 0.6em; 
  font-weight: 600;
}
