.Carousel {
  box-sizing: border-box;
  background-color: #fff;
}
.Carousel .mySlides {
  display: none;
}
.Carousel img {
  vertical-align: middle;
  width: 100%;
}
.Carousel .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.Carousel .dots {
  position: absolute;
  bottom: 25px;
  right: calc(50% - 70px);
  display: flex;
  justify-content: space-between;
  width: 140px;
  height: 3px;
}
.Carousel .dot {
  cursor: pointer;
  height: 100%;
  width: 100%;
  margin: 0 5px;
  background-color: #b8b8b8;
  border-radius: 2px;
  transition: background-color 0.6s ease;
}
.Carousel .active {
  background-color: #111;
}
.Carousel .dot:hover {
  background-color: #111;
  transition: all 0.2s ease-in-out;
}
.next-slide,
.prev-slide {
  position: absolute;
  top: calc(50% - 14px);
  fill: #111;
  cursor: pointer;
  margin: 0 20px;
  transition: all 0.2s ease-in-out;
}
.next-slide {
  right: 0;
}
.prev-slide {
  left: 0;
}
.next-slide:hover,
.prev-slide:hover {
  fill: #b8b8b8;
}
.banner-btn {
  position: absolute;
  right: 23%;
  top: 55%;
  padding: 6px 12px;
  background-color: #f6a61f;
  border: 1px solid #f6a61f;
  border-radius: 5px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 600;
}
.banner-btn:hover {
  background-color: #fff;
  color: #f6a61f;
}
@media only screen and (max-width: 600px) {
  .banner-btn {
    display: none;
  }
}
