.Product {
  box-sizing: border-box;
  margin: 1px;
  padding: 50px 0;
  background-color: #fff;
  text-decoration: none;
}
.Product .frame-img {
  height: 180px;
  width: 100%;
  margin: auto;
  display: block;
  position: relative;
}
.Product .frame-img img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.Product .info {
  text-align: center;
}
.bold {
  color: #111;
  font-weight: 700;
}
.Product .name {
  font-size: 14px;
  color: #b8b8b8;
  font-weight: 500;
  margin: 60px 0 30px 0;
}
@media only screen and (max-width: 600px) {
  .Product {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .Product {
    width: calc(50% - 2px);
  }
}
@media only screen and (min-width: 1000px) {
  .Product {
    width: calc(33.333% - 2px);
  }
}
