.Register {
  position: absolute;
  top: 180px;
  left: 10px;
  right: 10px;
  margin: auto;
  max-width: 400px;
  background-color: #fff;
  z-index: 5;
}
.Register header {
  position: relative;
}
.Register header h1 {
  text-align: center;
  background-color: #f6a61f;
  padding: 15px 0;
  margin: 0;
  color: #fff;
}
.Register header i {
  position: absolute;
  top: 25px;
  left: 20px;
  padding: 8px;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
.Register header i:hover {
  background-color: #fff;
  color: #f6a61f;
  transition: 0.2s ease-in-out;
}
.Register input,
.Register button {
  border: none;
}
.Register input:focus,
.Register button:focus {
  outline: none;
}
.Register input {
  border-bottom: 1px solid #b8b8b8;
  padding: 8px 10px;
}
.Register .wrapper-register-fields {
  display: grid;
  grid-template-columns: auto 80% auto;
  grid-template-rows: 50px auto 20px auto 20px auto 20px auto 20px auto 20px auto 20px auto 30px auto 20px auto 50px;
}
.Register .name {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.Register .surname {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}
.Register .email {
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
}
.Register .phone {
  grid-column: 2 / span 1;
  grid-row: 8 / span 1;
}
.Register .address {
  grid-column: 2 / span 1;
  grid-row: 10 / span 1;
}
.Register .username {
  grid-column: 2 / span 1;
  grid-row: 12 / span 1;
}
.Register .password {
  grid-column: 2 / span 1;
  grid-row: 14 / span 1;
}
.Register .warning {
  color: rgb(247, 36, 36);
  margin: 0;
  min-height: 3em;
  font-size: 0.8em;
  grid-column: 2 / span 1;
  grid-row: 16 / span 1;
}
.Register button {
  grid-column: 2 / span 1;
  grid-row: 18 / span 1;
  padding: 10px 5px;
  font-weight: 600;
  background-color: #f6a61f;
  border: 1px solid #f6a61f;
  color: #fff;
  transition: 0.2s ease-in-out;
}
.Register button:hover {
  background-color: #fff;
  color: #f6a61f;
  transition: 0.2s ease-in-out;
}
