.Home {
  min-height: calc(100vh - 163px);
}
.home {
  background-color: #f6a61f;
  width: 100%;
}
.home-wrapper {
  font-size: 0.9em;
  height: 50px;
  padding: 0 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Home .greeting {
  color: #fff;
}
.Home .home-links {
  width: 220px;
  display: flex;
  justify-content: space-between;
}
.Home .home-links a {
  text-decoration: none;
  color: #fff;
  cursor: not-allowed;
}
.Home .home-links a:hover {
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}
