.ProductPage-Height {
  min-height: calc(100vh - 163px);
}
.ProductPage {
  background-color: #fff;
  margin: 30px auto;
  padding: 50px;
  display: grid;
}
.ProductPage .image-gallery {
  display: flex;
}
.ProductPage .image-gallery-navigation {
  width: 15%;
}
.ProductPage .image-gallery-thumbnails {
  height: 432px;
  overflow: hidden;
}
.ProductPage .button-up-thumbnails,
.ProductPage .button-down-thumbnails {
  background-color: #f6a61f;
  border: 1px solid #f6a61f;
  color: #fff;
  padding: 7px 0;
  width: calc(100% - 2px);
  text-align: center;
  transition: 0.2s;
}
.ProductPage .button-up-thumbnails:hover,
.ProductPage .button-down-thumbnails:hover {
  background-color: #fff;
  border: 1px solid #f6a61f;
  color: #f6a61f;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.ProductPage .center-img-thumbnail {
  cursor: pointer;
  width: calc(100% - 2px);
  height: 80px;
  border: 1px solid #b8b8b8;
  transition: 0.2s ease;
}
.ProductPage .center-img-thumbnail:hover {
  border: 1px solid rgb(105, 105, 105);
  transition: 0.3s ease;
}
.ProductPage .center-img-display {
  cursor: pointer;
  width: 85%;
  margin-left: 10px;
  height: 500px;
}
.ProductPage .center-img {
  display: inline-block;
  position: relative;
}
.ProductPage .center-img img {
  max-height: 90%;
  max-width: 90%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.ProductPage .expand-img {
  opacity: 0;
  position: absolute;
  right: calc(50% - 20px);
  top: calc(50% - 20px);
  padding: 10px;
  border-radius: 50%;
  font-size: 25px;
  background-color: #f6a61f;
  color: #fff;
  transition: 0.2s ease-in-out;
}
.ProductPage .center-img:hover .expand-img {
  opacity: 1;
  transition: 0.2s ease-in-out;
}
@media only screen and (max-width: 700px) {
  .ProductPage {
    grid-template-columns: auto;
    grid-template-rows: auto 40px auto;
    padding: 30px 10px;
  }
  .ProductPage .image-gallery {
    width: 100%;
    justify-self: stretch;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .ProductInfo {
    width: 100%;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .ProductPage .image-gallery-navigation {
    width: 80px;
  }
  .ProductPage .center-img-display {
    width: calc(100% - 80px);
  }
}
@media only screen and (min-width: 700px) {
  .ProductPage {
    max-width: 600px;
    grid-template-columns: auto;
    grid-template-rows: auto 40px auto;
  }
  .ProductPage .image-gallery {
    width: 600px;
    justify-self: center;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .ProductInfo {
    width: 600px;
    justify-self: center;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
}
@media only screen and (min-width: 1145px) {
  .ProductPage {
    max-width: 1100px;
    grid-template-columns: 600px 50px auto;
    grid-template-rows: auto;
  }
  .ProductPage .image-gallery {
    width: 100%;
    grid-column: 1 / span 1;
  }
  .ProductInfo {
    width: 100%;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }
}
